@page "/"
@inject NavigationManager Navigation
<link rel="stylesheet" href="Home.css" />

<h2 class="title">Salary Management System</h2>
<div class="login-container">
    <h3 class="login-header">LOGIN</h3>
    <a class="login-button no-underline" href="/employee">EMPLOYEE</a>
    <a class="login-button no-underline" href="/hr">HR</a>
    <a class="login-button no-underline" href="/admin-dashboard">ADMIN</a>
</div>

<style>
    .no-underline {
        text-decoration: none;
    }
    
</style>
